.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "tracks tracks tracks tracks"
    "footer footer footer footer";
    grid-gap: 0.2rem;
}
.nav {
  grid-area: nav;
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;

}
.nav > button {
  margin: 10px;
}
.header {
  grid-area: header;

}
.nav {
  grid-area: nav;
  background-color: pink;

}
.tracks {
  grid-area: tracks;
  background-color: blue;


}
.footer {
  grid-area: footer;
  background-color: red;
}

